.navigation {
  position: fixed;
  background-color: var(--color-white);
  box-shadow: 0 0 2rem var(--color-shadow);
  left: 0;
  top: 0;
  bottom: 0;
  width: 12rem;
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  z-index: 5;
  transition: 0.3s;
  transform: translateX(0);
  opacity: 1;

  @media screen and (max-width: 766px) {
    transform: translateX(-100%);
    opacity: 0;
  }

  & ul:nth-child(2) {
    width: 100%;
    font-size: var(--font-size-l);

    & li {
      padding: 2.5rem 0;
      position: relative;
      overflow: hidden;
      border-bottom: 1px solid var(--color-lightGrey);

      & a {
        overflow: hidden;
        position: relative;
        text-transform: capitalize;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & img {
          width: 9rem;
          aspect-ratio: 1/1;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }
  }


  & small {
    color: #222222;
    font-weight: 700;
    font-size: inherit;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    margin-bottom: 8rem;
    position: relative;
    pointer-events: none;
    white-space: nowrap;

    &::before {
      content: '';
      position: absolute;
      width: 2px;
      height: 6.5rem;
      background-color: var(--color-lightGrey);
      bottom: 85%;
      left: 0;
      right: 0;
      margin: 0 auto;
      transform: translateY(-50%);
    }
  }

  & ul:last-child {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 2rem;

    & li {
      transition: .3s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}