@font-face {
  font-family: "Josefin Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local("Josefin Sans"),
  url('JosefinSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: "Josefin Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local("Josefin Sans"),
  url('JosefinSans-Bold.woff2') format('woff2');
}