html {
  box-sizing: border-box;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  position: relative;
  transition: all 0.3s;
  text-transform: capitalize;
  z-index: 0;
  font-weight: 600;
  color: inherit;
  white-space: nowrap;
}

h3::after {
  content: "";
  position: absolute;
  background: var(--color-primary);
  left: -12%;
  right: -12%;
  height: 10px;
  top: 1rem;
  bottom: 1.1rem;
  margin: auto;
  z-index: -1;
  transition: all 0.5s;
}

.wrapper {
  max-width: 115.5rem;
  width: 100%;
  margin: 0 auto;
  padding-left: 12.5rem;
  padding-right: .5rem;

  @media screen and (max-width: 766px) {
    padding: 0 1rem;
  }
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 5px 0;
  font-size: var(--font-size-m);
  font-family: var(--font-family-primary), sans-serif;
  line-height: var(--line-height-m);
  color: var(--color-text-primary);

  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }
}