:root {
  --color-primary: #fcc255;
  --color-danger: #ff5353;
  --color-red:#ff5353;
  --color-tomato:#ff754a;
  --color-cyan: #20cae5;
  --color-white: #fff;
  --color-shadow: rgba(33, 37, 41, 0.1);
  --color-lightGrey: #e8e8e8;
  --color-text-primary: #212529;
  --color-warning: #ffc107;
  --color-success: #04AA6D;
}
